<!DOCTYPE html> 
<html> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<title>Droodle API</title> 
	<link rel="stylesheet" href="/static/desktop.css" type="text/css"> 
</head> 

<h1>Moodle API (unofficial)</h2>
<body id="userportal"> 
	<div id="main-container"> 
		<div id="app-header"> 
			<h3>Last updated: {{last_updated}}</h3>
			<p>
				<small>Update (8.1.12): Fix for fetchting assignment descriptions</small>
                <small>Update (25.12.11): The API can now fetch grade and comment for an assignment.</small>
			<br/>
			</p>
			<span>The API is currently in beta and was developed for the <a href="https://market.android.com/details?id=com.ivoid.droodle" target="_new">Droodle</a> Android app. The API is built in Python 2.7 and hosted on Google AppEngine. I used the <a href="http://lxml.de/">lxml</a> library for HTML parsing/scraping.
			<br/><br/>
			<a href="https://github.com/iVoid/Droodle-API">Full API source code available on GitHub</a>.
            <br/>
            <a href="https://github.com/iVoid/Droodle">Full Android application source code available on GitHub</a>.
            <br/><br/>
			 For any questions please drop me a note (<script type='text/javascript'>var a='@',g='gmail',c='.',d='com';document.writeln('r' + 'i' + 'c' + 'h' + 'a' + 'r' + 'd' + '.' + 't' + 'i' + 'u' + 't' + 'i' + 'u' + 'n' + a + g + c + d )</script>).
				Peace out, <a href="https://github.com/iVoid">Richard Tiutiun</a>
				</span> 
		</div> 
</body> 
</html>